img 
{
  width: 100%;
}
.p,h1,h2,h3,h4,h5 
{
  letter-spacing: 3px;
}

.navbar-nav .nav-item:hover .nav-link,
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:focus .nav-link {
  border-bottom: 2px solid black;
}
.h 
{
  text-align: center;
}

.c 
{
  margin-top: 2%;
}

.c1 
{
  margin-top: 3%;
}
.name 
{
  margin-top: 10px;
  letter-spacing: 3px;
}
.price 
{
  font-size: 16px;
  color: #cf9362;
  display: flex;
  align-items: baseline;
}

.material-symbols-outlined 
{
  padding-bottom: 3px;
  font-size: 18px;
  color: #cf9362;

}

.cc 
{
  overflow: hidden;
  width: 300px; /* Adjust the width of the zoom container */
  height: 300px; /* Adjust the height of the zoom container */
  position: relative;
}